{% extends 'Admin/admin_base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
    <div class="container">
        <div class="row gy-3">
            <div class="col-12">
                <h1>Tous les utilisateurs</h1>
            </div>
            <div class="col-12">
                <table class="table table-dark table-hover table-striped text-center">
                    <thead>
                    <tr>
                        <th></th>
                        <th>Pseudo</th>
                        <th>Email</th>
                        <th>FirstName</th>
                        <th>LastName</th>
                        <th>BirthDate</th>
                        <th>Gender</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for user in pagination %}
                        <tr>
                            <td>{{ user.picture }}</td>
                            <td>{{ user.email }}</td>
                            <td>{{ user.firstName }}</td>
                            <td>{{ user.lastName }}</td>
                            <td>{{ user.birthDate|date('d-m-Y') }}</td>
                            <td>{{ user.gender }}</td>
                            <td>
                                <a href="" class="btn btn-primary">Details</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div class="col-12 d-flex justify-content-center">
                    <div class="pagination">
                        {{ knp_pagination_render(pagination) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
