{% extends 'Admin/admin_base.html.twig' %}

{% block title %}Hello GenreController!{% endblock %}

{% block body %}
    <div class="container tableau">
        <div class="row gy-3">
            <div class="col-12">
                <h1>Tous les Genres</h1>
            </div>
            <div>
                <a href="{{ path('admin_genre_create') }}" class="btn btn-primary">Ajouter un genre</a>
            </div>
            <div class="col-12">
                <table class="table table-hover table-striped text-center">
                    <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for genre in paginationGenres %}
{#                        <div>#}
                        <tr>
                            <td>{{ genre.name }}</td>
                            <td>
                                <a href="" class="btn btn-primary"><i class="fas fa-eye"></i></a>
                                <a href="{{ path('admin_genre_edit', {'id': genre.id}) }}" class="btn btn-primary"><i class="fas fa-pencil-alt"></i></a>
                                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modalDelete{{ genre.id }}">
                                    <i class="fas fa-trash-alt"></i>
                                </button>

                                <!-- Modal -->
                                <div class="modal fade" id="modalDelete{{ genre.id }}" tabindex="-1" aria-labelledby="ModalLabel{{ genre.id }}" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title text-dark" id="ModalLabel{{ genre.id }}">Voulez vous supprimer cet élément: {{ genre.name }}</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body text-dark">
                                                Cliquez sur confirmer pour supprimer cette entité et toutes ses données.
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                                                <a href="{{ path('admin_genre_delete', {'id': genre.id}) }}" type="button" class="btn btn-danger">Confirmer</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
{#                        </div>#}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-12 justify-content-center d-flex">
                <div class="pagination">
                    {{ knp_pagination_render(paginationGenres) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}