<div class="row">
    <div class="col-12">
        {{ form_row(form.name) }}
    </div>
    <div class="col-3">
        {{ form_row(form.smallPicture) }}
    </div>
    <div class="col-3">
        {{ form_row(form.mediumPicture) }}
    </div>
    <div class="col-3">
        {{ form_row(form.bigPicture) }}
    </div>
    <div class="col-3">
        {{ form_row(form.xlPicture) }}
    </div>
</div>