<div class="row">
    <div class="col-6">
        {{ form_row(form.email) }}
    </div>
    <div class="col-6">
        {{ form_row(form.nickName) }}
    </div>
    <div class="col-6">
        {{ form_row(form.firstName) }}
    </div>
    <div class="col-6">
        {{ form_row(form.lastName) }}
    </div>
    <div class="col-4">
        {{ form_row(form.phoneNumber) }}
    </div>
    <div class="col-4">
        {{ form_row(form.birthDate) }}
    </div>
    <div class="col-4">
        {{ form_row(form.gender) }}
    </div>
    <div class="col-12">
        {{ form_row(form.picture) }}
    </div>
    <div>
        <button type="submit" class="btn btn-primary">Valider</button>
    </div>
</div>