{% extends 'Front/front_base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div class="container my-5">
        <h1 class="my-5">Bienvenue sur Brotify</h1>
        {% form_theme form 'bootstrap_5_layout.html.twig' %}
        {{ form_start(form) }}
        {{ form_end(form) }}
        <a href="{{ path('front_home_index') }}" class="my-2 btn btn-outline-info text-decoration-none">Revenir à tous les résultats</a>

        <div class="d-flex justify-content-between">
            <h2 class="mainTitles">{{ 'front.home.albums.title'|trans }}</h2>
            <div>
                <a class="btn btn-outline-dark"
                   href="{{ path('front_album_index') }}">{{ 'front.home.details'|trans }}</a>
            </div>
        </div>

        {{ include('partials/front/_album_list.html.twig') }}

        <div class="d-flex justify-content-between mt-5">
            <h2 class="mainTitles">{{ 'front.home.tracks.title'|trans }}</h2>
            <div>
                <a class="btn btn-outline-dark"
                   href="{{ path('front_album_index') }}">{{ 'front.home.details'|trans }}</a>
            </div>
        </div>

       {{ include('partials/front/_track_card.html.twig') }}

        <div class="d-flex justify-content-between mt-5">
            <h2 class="mainTitles">{{ 'front.home.artists.title'|trans }}</h2>
            <div>
                <a class="btn btn-outline-dark"
                   href="{{ path('front_album_index') }}">{{ 'front.home.details'|trans }}</a>
            </div>
        </div>

        {{ include('partials/front/_artist_card.html.twig') }}

        <div class="d-flex justify-content-between mt-5">
            <h2 class="mainTitles">{{ 'front.home.genres.title'|trans }}</h2>
            <div>
                <a class="btn btn-outline-dark"
                   href="{{ path('front_album_index') }}">{{ 'front.home.details'|trans }}</a>
            </div>
        </div>

        {{ include('partials/front/_genre_card.html.twig') }}


    </div>


{% endblock %}
