{% extends 'Admin/admin_base.html.twig' %}

{% block title %}Hello TrackController!{% endblock %}

{% block body %}
    <div class="container tableau">
        <div class="row gy-3">
            <div class="col-12">
                <h1>Toutes les Musiques</h1>
            </div>
            <div class="col-12">
                <a href="{{ path('admin_track_create') }}" class="btn btn-primary">Ajouter une track</a>
            </div>
            <div class="col-12">
                <table class="table table-hover table-striped text-center">
                    <thead>
                    <tr>
                        <th>Titre</th>
                        <th>Duration</th>
                        <th>Position</th>
                        <th>Rank</th>
                        <th>Release</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for track in pagination %}
                        <tr>
                            <td>{{ track.title }}</td>
                            <td>{{ track.duration }}</td>
                            <td>{{ track.position }}</td>
                            <td>{{ track.rank }}</td>
                            <td>{{ track.releaseAt|date('d-m-Y') }}</td>
                            <td>
                                <a href="" class="btn btn-primary">Details</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div class="col-12 d-flex justify-content-center">
                    <div class="pagination">
                        {{ knp_pagination_render(pagination) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
