<div class="d-flex justify-content-between">
    <h2 class="mainTitles">{{ 'front.home.albums.title'|trans }}</h2>
    <div>
        <a class="btn btn-outline-dark"
           href="{{ path('front_album_index') }}">{{ 'front.home.details'|trans }}</a>
    </div>
</div>

<div class="row">
    {% for entity in albums %}
        <a href="{{ path('front_album_show', )}}">
            <div class="albumCards">
                <div class="myCard">
                    <img src="{{ album.bigCover }}" class="card-img" alt="{{ album.title }}">
                </div>
                <div class="albumText">
                    <div class="albumTitle">
                        {{ album.title }}
                    </div>
                    <div class="albumArtist">
                        {{ album.artist.name }}
                    </div>
                </div>
            </div>
        </a>

        {# <div class="card-img-overlay"> #}
        {# <h5 class="card-title">Card title</h5> #}
        {# <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> #}
        {# <p class="card-text">Last updated 3 mins ago</p> #}
        {# </div> #}
    {% endfor %}
</div>